@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;


}

.sidebar {
    /* background-color */

    /* width: 400px; */
    font-family: 'Lato', sans-serif;
    height: 100vh;
    transition: transform 0.3s ease-in;
    position: absolute;
    /* taki wo fix ho jae*/


}

.ul {
    position:
        relative;
    transform: skewY();
}

.sidebar nav {
    padding: 20px;
    height: 100vh;

    background-color: teal;


}

.boxes {

    background-color: teal;
    height: 100vh;
    width: 28vw;
}

.sidebar nav li {
    list-style: none;
    font-size: 25px;
    padding-top: 33px;
    padding-bottom: 33px;
    padding-left: 0;
    padding-right: 0;


}

.sidebar nav li a {
    list-style: none;
    color: #efebe0;
    text-decoration: none;

}

.sidebar nav li a:hover {
    list-style: none;
    color: #efebe0;
    text-decoration: underline;

}

.main {
    /* background-color: bisque; */
    width: 66.3vw;

    margin: 20px;
}

.container {
    display: inline;

    background-color: teal;

    background-color: rgb(250, 253, 253);

    height: 100vh;
    display: flex;

}

.info {
    /* background-color: rgb(246, 17, 234); */

    height: 55vh;
    width: 60vw;
    margin: 130px 70px;
    display: flex;
    justify-content: space-around;
}

.devpic2 {
    display: none;
}


.devinfo {
    font-size: 16px;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.hello {
    font-size: 3em;
    font-family: 'Fira Sans Extra Condensed', sans-serif;
}

.name {
    font-size: 3.2em;
    font-weight: bold;
    color: teal;
    font-family: 'Fira Sans Extra Condensed', sans-serif;

}

.moreabout {
    margin-top: 2.4em;
    font-size: 19px
}

.about {
    font-size: 2.1em;
}

.buttons {
    margin-top: 2.2em;

}

.buttons button {
    border-radius: 20px;
    border-color: teal;
    ;
    font-size: 1.5em;
    color: #efebe0;
    padding: 9px 14px;

    background-color: teal;
    ;
    margin: 3px 3px;
    cursor: pointer;
}


.buttons button:hover {
    background-color: #efebe0;
    border-color: teal;
    color: teal;
    font-weight: bold;
}



.devpic img {
    filter: brightness(1.1);
    display: inline;
    border-image: 3px;

    border-color: #efebe0;
    /* border-radius: 0% 15% 0% 15%; */
    /* margin: -5px -80px 0px 20px; */
    /* margin-right: 100px; */

    border-color: white;
    /* border-radius: 0% 15% 0% 15%; */
    margin: 140px 0px 30px 40px;
    border: teal;

    height: 60vh;


}

/* .box {
    
    position: relative;
    height: 450px;
    width: 500px;
    border-radius: 0% 20% 0% 20%;
    background: teal;


} */

.devpic .contactform {

    padding: 0 34px;
    /* padding-top: 150px; */
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    font-weight: bold;
    flex-direction: column;
    font-size: 16px;

}

.contactform h1 {
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    text-align: center;
    padding: 12px 0;
    font-size: 30px;

}

.contactform form div {
    /* padding: 15px 0; */
    display: flex;
    flex-direction: column;
}

.contactform form div input {
    /* width: 20vw; */
    border-radius: 5px;
    margin: 6px 0;
    padding: 3px;


}



#emailHelp {
    font-size: 12px;
    color: rgba(32, 32, 91, 0.984);
    padding: 5px 5px;

}

#formcheck {
    flex-direction: row;
}

#formcheck input {
    width: 15px;
}

.btn {
    font-size: 15px;
    border-radius: 10px;
    font-weight: bold;
    background-color: teal;
    color: #efebe0;
    cursor: pointer;
}

.btn:hover {
    font-size: 15px;
    border-radius: 10px;
    color: teal;
    border-color: teal;
    background-color: #efebe0;

}

h1 {
    margin: 23px;
}

p {
    margin: 0 14px;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
}

.hg {
    margin: 0 14px;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
}


.sidebarGo {
    transform: translate(-400px, 0);
    position: absolute;
}

.hamburger {
    filter: brightness(1.3);
    position: absolute;
    cursor: pointer;
    margin-top: 15px;

    margin-left: 15px;

}

.cross {
    margin-left: 115px;
    margin-top: 3px;
    background: url(cross.png);
    filter: brightness(1) invert(1.7) sepia(.5) hue-rotate(100deg) saturate(100%);
}

.box1 {

    /* align-items: center; */
    width: 30vw;
    height: 100vh;
    background-color: rgb(7, 7, 7);
    margin-right: 0;
    margin-top: 0;
}

.cube {
    position: relative;
    /* top: 0;
    margin-left: 0;
    top: 0;
    left: 100px;
    right: 90vw;
    width: 50%;
    height: 100%; */
    width: 300px;
    height: 300px;
    transform-style: preserve-3d;
    animation: animate 4s linear infinite;
}

.cube div {
    position: absolute;

    top: 0;
    left: 100px;
    right: 90vw;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;

    animation: animate 4s linear infinite;
}

@keyframes animate {
    0% {
        transform: rotateX(-30deg) rotateY(0deg);
    }

    100% {
        transform: rotateX(-30deg) rotateY(360deg);
    }
}

.cube span {
    position: absolute;
    margin-top: 8vh;
    margin-left: 78vw;
    width: 20%;
    height: 20%;
    background: linear-gradient(#151515, rgb(7, 250, 2));
    transform: rotateY(cal(90deg*var(--i))) translateZ(150px);

}

/* .container2 {
    background-color: rgb(252, 249, 249);
    height: 100vh;
    display: flex;

} */


@media (max-width:700px) {

    /*           * {
       background-color: rgb(144, 221, 221);
    } */


    .devinfo {
        font-size: 10px;
    }

    .boxes {
        display: none;
        height: 80px;
        width: 70px;
        border-radius: 0 0 80px 80px;
    }

    .boxes .devpic {
        display: none;
    }

    /*     .boxes .devpic2{
    /*         height:90px;
        width:30px; */

    .devpic2 {
        display: contents;

    }


    .box {
        display: none;
    }

    .buttons {
        font-size: 8px;
    }

    .boxes {
        display: none;
        height: 80px;
        width: 70px;
        border-radius: 0 0 80px 80px;
    }

    .boxes .devpic {
        display: none;
    }

    /* .boxes .devpic2 {
    height: 90px;
    width: 30px;
} */
    .box3 {
        margin-top: 30px;
        margin-left: 0px;
        height: 280px;
        width: 340px;
        background-color: teal;
        border-radius: 0 0 0 0px;

    }

    .devpic2 {
        display: contents;
        /*         height: 500px;
    background-color: teal; */
    }

    .devpic2 img {
        margin-left: 50px;
        margin-top: -100px;
        /* display: contents; */
        height: 280px;
        border-style: solid;
        border-color: teal;
        border-width: 10px;
        border-radius: 400px;



    }

    /* .sidebar {

        background-color: teal;
    }

    .sidebar {
        transform: translate(-400px, 0);
        position: absolute;
    } */

}

@media (max-width:1700px) {

    /*     * {
        background-color: rgb(144, 221, 221);
    } */
    .sidebar {
        /* background-color */
        background-color: teal;
    }
}