@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fira+Sans+Extra+Condensed:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    /*background-color: #484949;*/
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    /*display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;*/
    
}

.sidebar {
    /* background-color */

    /* width: 400px; */
    font-family: 'Lato', sans-serif;
    height: 100vh;
    transition: transform 0.3s ease-in;
    position: relative;

    /* taki wo fix ho jae*/


}

.ul {
    position:
        relative;
    transform: skewY();
}

.sidebar nav {
    padding: 20px;
    height: 100vh;

    background-color: teal;


}

.container {
    position: relative;
    display: flex;
    margin-top: 60px;

    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 0px;


    gap: 70px 60px;
}

.container1 {
    width: 100vw;
    /*background-color: #c1c4c4;*/
    position: relative;
    display: flex;
    margin-top: 60px;

    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px;


    gap: 50px 50px;
}



.sidebar nav li {
    list-style: none;
    font-size: 25px;
    padding-top: 33px;
    padding-bottom: 33px;
    padding-left: 0;
    padding-right: 0;


}

.sidebar nav li a {
    list-style: none;
    color: #efebe0;
    text-decoration: none;

}

.sidebar nav li a:hover {
    list-style: none;
    color: #efebe0;
    text-decoration: underline;

}



.container2 {
    display: inline;

    background-color: teal;

    background-color: rgb(250, 253, 253);

    height: 100vh;
    display: flex;

}

.container1 .drop1 {
    position: absolute;
    width: 340px;
    height: 600px;
    margin-left: 0vw;
    border-radius: 10%;
    border: 1px solid teal;
    overflow: hidden;

}

.head {
    position: absolute;
    margin-top: 30px;
    margin-left: 270px;

    justify-content: center;
    font-weight: bolder;
    font-size: 40px;
    color: teal;
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    text-decoration: underline;
    word-spacing: 1.2px;

    transition: 0.2s;
    float: inline-start;
}

.head2 {
    position: absolute;
    margin-top: 5vh;
    margin-left: 40vw;

    justify-content: center;
    font-weight: bolder;
    font-size: 34px;
    color: teal;
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    text-decoration: underline;
    word-spacing: 1.2px;
    transition: 0.2s;
    float: inline-start;
}

.container .drop {
    position: relative;
    width: 300px;
    height: 300px;
    margin-left: 50px;
    background-color: #e3ecea;
    box-shadow: inset 20px 20px 20px rgba(0, 0, 0, 0.05),
        25px 35px 20px rgba(0, 0, 0, 0.05),
        25px 30px 30px rgba(0, 0, 0, 0.05),
        inset -20px -20px 25px rgba(255, 255, 255, 0.9);
    transition: 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container1 .drop1 {
    position: relative;
    width: 350px;
    height: 550px;
    margin-left: 8vw;
    background-color: #e6eae9;
    box-shadow: inset 10px 10px 20px rgba(0, 0, 0, 0.05),
        25px 20px 20px rgba(0, 0, 0, 0.05),
        25px 20px 20px rgba(0, 0, 0, 0.05);
    /*inset -20px -20px 25px rgba(255, 255, 255, 0.9);*/
    /*box-shadow: inset 20px 20px 20px rgba(0, 0, 0, 0.05),
        25px 35px 20px rgba(0, 0, 0, 0.05),
        25px 30px 30px rgba(0, 0, 0, 0.05),
        inset -20px -20px 25px rgba(255, 255, 255, 0.9);*/
    transition: 0.3s ease-in-out;
    display: flex;
    border-radius: 3%;
    justify-content: left;

}

.container1 .drop1:hover {
    position: relative;
    width: 370px;
    height: 570px;
    margin-left: 8vw;
    background-color: #e9eeed;
    box-shadow: inset 10px 10px 20px rgba(0, 0, 0, 0.05),
        25px 20px 20px rgba(0, 0, 0, 0.15),
        25px 20px 20px rgba(0, 0, 0, 0.15);
    /*inset -20px -20px 25px rgba(255, 255, 255, 0.9);*/
    /*box-shadow: inset 20px 20px 20px rgba(0, 0, 0, 0.05),
        25px 35px 20px rgba(0, 0, 0, 0.05),
        25px 30px 30px rgba(0, 0, 0, 0.05),
        inset -20px -20px 25px rgba(255, 255, 255, 0.9);*/
    transition: 0.3s ease-in-out;
    display: flex;
    border-radius: 3%;
    justify-content: left;
    background-color: #e6edeb;

}

.container1 .drop1 .card-contents {
    justify-content: center;
    align-items: center;
    gap: 20px;

}

.container1 .drop1 .card-contents img {
    margin-top: -5px;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 300px;
    width: 370px;


}


.container1 .drop1 .card-contents h2 {
    margin-top: 50px;
    margin-left: 24%;
    color: teal;
    display: inline;
    -webkit-text-stroke: 0.8px #96c5ba;
    -webkit-text-stroke-color: #15656c;
    text-shadow:
        inset -20px -20px 25px rgba(255, 255, 255, 0.9);
    justify-content: center;
    align-items: center;
}

.container1 .drop1 .card-contents p {
    margin-top: 20px;
    position: absolute;

    color: #484949;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
}

.container1 .drop1 .card-contents button {
    margin-top: 100px;

    font-size: 23px;
    font-weight: bold;
    color: teal;
    background: #edf1f1;
    /*font-size: 20px;*/
    justify-content: center;
    align-items: center;
    margin-left: 34%;
    height: 40px;
    width: 120px;
    border-radius: 5px;
    border: 3px solid teal;
}

.container1 .drop1 .card-contents button a {
    color: teal;
    text-decoration: none;
}

.container1 .drop1 .card-contents button:hover {
    margin-top: 100px;

    font-size: 18px;
    color: rgb(235, 238, 238);
    background: teal;
    /*font-size: 20px;*/
    justify-content: center;
    align-items: center;
    margin-left: 34%;
    height: 40px;
    width: 120px;
    border-radius: 5px;
    border: 3px solid rgb(166, 169, 169);
}

.container1 .drop1 .card-contents button a:hover {
    color: rgb(227, 231, 231);
    text-decoration: none;
}

.hg {
    margin: 0 14px;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
}


.sidebarGo {
    transform: translate(-400px, 0);
    position: absolute;
}

.hamburger {
    filter: brightness(1.3);
    position: absolute;
    cursor: pointer;
    margin-top: 25px;

    margin-left: 25px;

}

.cross {
    position: relative;
    margin-left: 115px;
    margin-top: 3px;
    background: url(cross.png);
    filter: brightness(1) invert(1.7) sepia(.5) hue-rotate(100deg) saturate(100%);
}



.container .drop:nth-child(1) {
    border-radius: 300px;
}

.container .drop:nth-child(6) {
    border-radius: 300px;
}

.container .drop:nth-child(2) {
    border-radius: 300px;
}

.container .drop:nth-child(3) {
    border-radius: 300px;
}

.container .drop:nth-child(4) {
    border-radius: 300px;
}

.container .drop:nth-child(5) {
    border-radius: 300px;
}

.container .drop:hover {
    border-radius: 57% 43% 43% 57%/43% 43% 57% 57%;
}

.container .drop::before {
    content: '';
    position: absolute;
    top: 50px;
    left: 85px;
    width: 35px;
    height: 35px;
    background-color: #fbf9f9;
    border-radius: 50%;
    opacity: 0.9;

}

.container .drop::after {
    content: '';
    position: absolute;
    top: 90px;
    left: 110px;
    width: 15px;
    height: 15px;
    background-color: #fdfcfc;
    border-radius: 50%;
    opacity: 0.9;

}

.container .drop .content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 40px;


    gap: 40px;
}

.container .drop .content h2 {
    position: relative;
    margin-top: -60px;

    width: 60px;
    height: 60px;

    background-color: rgb(233, 238, 238);
    border-radius: 50%;
    box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.1), inset -5px -5px 10px rgba(255, 255, 255, 1),
        15px 15px 10px rgba(0, 0, 0, 0.05),
        15px 10px 15px rgba(0, 0, 0, 0.025);



    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    color: teal;

}

.container .drop .content a {
    position: relative;
    padding: 10px 25px;
    background: var(--clr);
    text-decoration: none;
    color: #fff;
    border-radius: 25px;
    font-weight: 500;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
    opacity: 0.9;
    margin-bottom: -40px;
    background-color: teal;
    transition: 0.5s;
}

.bar {
    background: #dee3ec;
    display: block;
    height: 20px;
    width: 200px;
    border: 0.5px solid rgba(39, 38, 38, 0.3);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.82, 0.25, 1);

}

.bar:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.25);
}

.bar span {
    height: 20px;
    float: left;
    background: linear-gradient(135deg, rgb(11, 94, 94)0%, rgb(6, 150, 131)100%);
}

.html {
    width: 60%;
    animation: html 1.3s;
}


.css {
    width: 46%;
    animation: css 1.2s;
}

.c {
    width: 80%;
    animation: c 1.6s;
}

.c2 {
    width: 90%;
    animation: c2 1.75s;
}

.python {
    width: 50%;
    animation: python 1.25s;
}

.dart {
    width: 50%;
    animation: dart 1.25s;
}

@keyframes html {
    0% {
        width: 0%;
    }

    100% {
        width: 60%;
    }

}

@keyframes css {
    0% {
        width: 0%;
    }

    100% {
        width: 46%;
    }

}

@keyframes c {
    0% {
        width: 0%;
    }

    100% {
        width: 80%;
    }


}

@keyframes c2 {
    0% {
        width: 0%;
    }

    100% {
        width: 90%;
    }

}

@keyframes python {
    0% {
        width: 0%;
    }

    100% {
        width: 50%;
    }

}

@keyframes dart {
    0% {
        width: 0%;
    }

    100% {
        width: 50%;
    }

}

@media (max-width:900px) {

    .container .drop {
        position: relative;
        width: 250px;
        height: 250px;


        background-color: #e4efef;
        box-shadow: inset 20px 20px 20px rgba(0, 0, 0, 0.05),
            25px 35px 20px rgba(0, 0, 0, 0.05),
            25px 30px 30px rgba(0, 0, 0, 0.05),
            inset -20px -20px 25px rgba(255, 255, 255, 0.9);
        transition: 0.3s ease-in-out;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .container .drop .content {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        padding: 40px;


        gap: 25px;
    }

    .head {
        /*display: none;*/
        position: absolute;
        margin-top: 50px;
        margin-left: 100px;
        font-weight: bolder;
        font-size: xx-large;
        color: teal;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-decoration: underline;
        transition: 0.2s;
        float: inline-start;
    }
}

@media (max-width:870px) {
    /*.head {
        display: none;
    }*/
}
